.main-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    overflow-y: auto; 
    padding: 10px;
    min-height: 100vh;
}

.main-game-background {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -10; 
}




